<p>{{battery.levelPercentage}}%  {{fa-icon iconName}}</p>

{{#if battery.isCharging}}
  <p>Your battery is charging!</p>
{{/if}}

{{#if isTooLow}}
  <p>Your battery is too low!</p>
{{/if}}

<p>Discharging Time: {{battery.dischargingTime}}</p>
<p>Charging Time: {{battery.chargingTime}}</p>